body{

    margin: 0;
}



.main{
   width: 100%;  /* VH pour prend tout la page l lheight */ 
   height: 95vh;    
   
   border:   9px ;
   display: flex;
   justify-content:center;
   
    align-items: center;
    box-shadow: 0 9px 18px 0 rgba(7,7,7,0.2);
    
}
.card{
    width:30%;
     height:65% ;
     
      border: double 11px orange;
    border-radius: .5rem;
    box-shadow: 0 9px 18px 0 rgba(7,7,7,0.2);
    
    display: flex;
    flex-direction: column;
     align-items: center;
     
 }

   
 
 .logo {
       margin-top: 2rem ;
       width: 9rem;
       height: 2rem;
       
       

   }

.card input  {
       height: 9%; 
       width: 80%;
margin-top: 1.5rem;
border: solide black;
border-radius: .3rem;
text-align: center;


   }
.card input:focus {

    outline:none;
    border-color: rgb(243, 30, 30);
}

.card input::placeholder{
font-size: .9rem;
}

.next{
  margin-top: 1rem;  
width:82% ;
height: 9%;
background-color: blue;
border-radius: .3rem;
display: flex;
justify-content:center;
align-items: center;
cursor: pointer;
}
.next span {
    color:rgb(235, 235, 235);
    font-size: 1rem;
    font-weight: bold;
}
.next:hover{
background-color:darkorange
}
.sign-up{
    margin-top: 1rem;  
    width:82% ;
    height: 1.9rem;
    background-color:rgb(187, 184, 184);
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sign-up span{
    color:rgb(2, 2, 1);
    font-size: 1rem;
    font-weight: bold;
}
.sign-up:hover{

    background-color:gold
}

.divider{
    margin-top: 1rem;
width: 72%;
display: flex;
justify-content: space-between;
align-items: center;

}
.left, .right{
    border-bottom:solid rgb(36, 182, 0) 1px;
    width: 45%;
    padding-top: .5rem;
    
}
.divider span{
    font-size: 1rem;
    color: rgb(167, 14, 14);
}



.languges{
    margin-top: 2rem;

width: 50%;
height: 10%;

display: flex;
align-items: center;
}


.Flag{
width: 1rem;

height: 1rem;
cursor:pointer ;

}


.fleche{
    width: .9rem;
    height: .9rem;
cursor: pointer;
transform: rotate(90deg);
margin-left: .8rem;
margin-right: .4rem;

}

.language span{
    font-size: .9rem;
    margin-left: .2rem;

}
.pipe{

height: 1rem;
border-left: solid 1px black ;
margin-left: .2rem;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: rgb(212, 207, 207);
    
    
}   
.footer span{
    margin-left: .2rem;
    font-size: .9rem;
    cursor: pointer;
}
.footer span hover{
text-decoration: underline;

}